.active{
    /* color:blue; */
    background-color: blue;
    /* color:blue; */
    
}

.activenew i {
    color:blue;
}

.stylecolor{
    color: #242424;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .form-section label {
    margin-bottom: 10px;
  }
  
  .form-section input,
  .form-section select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .form-section select {
    width: 316px;
  }
  
  .form-section input:focus,
  .form-section select:focus {
    outline: none;
    border: 1px solid #4caf50;
  }
  
  .form-section .error {
    color: #f44336;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #3e8e41;
  }
  
  .button-container button[type="button"] {
    background-color: #f44336;
  }
  
  .button-container button[type="button"]:hover {
    background-color: #d32f2f;
  }
  